.node{
    height:25px;
    width:25px;
    outline:solid 1px black;
    display:inline-block;
}

.node-start {
    background-color: green;
}

.node-finish {
    background-color: red;
}

.node-wall{
    background-color: black !important;
}

.hover{
    outline:solid 4px black;
}

.shortest-path{
    background-color: aquamarine !important;
}


.node-visited{
    background-color: grey;
    animation-name: visitNode;
    animation-duration: 0.4s;
}

@keyframes visitNode {
    from{background-color: rgb(57, 138, 215);}
    to{background-color: rgb(113, 140, 160);}
}

