.node{
    height:25px;
    width:25px;
    outline:solid 1px rgb(179, 193, 201);
    display:inline-block;
}

.node-start {
    background-color: none;
    margin:2.5px;
    height:20px;
    width:20px;
    background-color: green;
    border-radius: 50%;
}

.node-finish {
    background-color: none;
    height:18px;
    width:18px;
    background-color: red;
    border:black 2px solid;
    margin:3.5px;
    animation-name: rotateFinishNode;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-duration:2s;
}

@keyframes rotateFinishNode{
    from {
        transform: rotate(0deg);
        background-color: rgb(235, 147, 15);
    }
    to {
        transform: rotate(360deg);
        background-color: red;
    }

    0%{ 
        border-radius: 0%;
    } 25% {
        border-radius: 25%;
    } 50% {
        border-radius: 50%;
    } 75% {
        border-radius: 25%;
    } 100% {
        border-radius: 0%;
    }
}

.node-wall{
    background-color: black !important;
}

.hover{
    outline:solid 4px black;
}

.shortest-path>div{
    background-color: aquamarine !important;
}

.shortestPathDisplay{
    background-color: aquamarine;
}

.node-visited{
    background-color: none;
}

.visitedNodeDisplay{
    background-color: #607486;
}

.node-visited>div{
    animation-name: visitNode;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-duration:1.8s;
    animation-fill-mode: forwards;
}

@keyframes visitNode{
    from{
        width:0px;
        height:0px;
        border-radius: 100%;
        margin-top:12.5px;
        margin-left:12.5px;
    } to {
        width:25px;
        height: 25px;
        border-radius: 0%;
        margin-top:0px;
        margin-left:0px;
    }

    0%{ background-color: #ff00ff; }
    25%{ background-color: #3f27aa; }
    50%{ background-color: #14c1ec; }
    75%{ background-color: #acccc9; }
    100%{ background-color: #607486; }
    

}
